  .almarai-light {
      font-family: "Almarai", sans-serif;
      font-weight: 300;
      font-style: normal;
    }
    
    .almarai-regular {
      font-family: "Almarai", sans-serif;
      font-weight: 400;
      font-style: normal;
    }
    
    .almarai-bold {
      font-family: "Almarai", sans-serif;
      font-weight: 700;
      font-style: normal;
    }
    
    .almarai-extrabold {
      font-family: "Almarai", sans-serif;
      font-weight: 800;
      font-style: normal;
    }
    
  body{
      background-color: #fcf9f5; 
  }

  img{
    width: 150px;
    justify-content: center;
    margin-left: 450px;
    padding-top: 0px;
  }

  nav {
      background-color: #fcf9f5; 
      display: flex;
      
      padding: 1rem;
    }
    
    nav ul {
      list-style: none;
      font-family: "Almarai", sans-serif;
      font-weight: 700;
      font-size: 20px;
      margin: 0;
    
      display: flex;
      justify-content: space-between;
    }
    
    nav li {
      margin-right: 40px;
      padding-top: 50px;

    }

    .list{
      margin-top: 200px;
    }

    .rep{
      margin-left: 600px;
      display: flex;
      border: 3px solid;
      justify-content: center;
      border-radius: 18px 0px 18px 18px;
      padding: 12px 45px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      transition: background-color 0.6s, color 0.6s, border-radius 0.6s; 
    }

    .rep:hover{
      margin-left: 600px;
      display: flex;
      background-color: #4B392B;
      color:white;
      border: 3px solid;
      border-radius: 18px ;
      padding: 12px 45px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
    }
    
    nav a {
      text-decoration: none;
      color: #4B392B; /* assuming the text color is dark gray */
    }
    
    nav a:hover {
      color: #666; /* assuming the hover color is a darker gray */
    }

    @media screen and (max-width: 768px) {
      nav ul {
          flex-direction: column; /* Stack items vertically */
          text-align: center; /* Center items horizontally */
      }
      
      nav li {
          padding-top: 20px; /* Reduce padding */
          margin-right: 0; /* Remove margin */
      }
      
      .rep {
          margin-left: auto; /* Center button horizontally */
      }
  }